* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.about-me {
    width: 100%;
    background-image: linear-gradient(to bottom, #0F1035 75%, #365486);
}

.content-container {
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    color: #DCF2F1;
    font-family: 'Montserrat', sans-serif;
}

.content-container h1{
    font-weight: bold;
}

.custom-row {
    margin-top: 20%;
}

.first {
    margin-right: 5%;
}

.flex {
    display: flex;
    align-items:center;
    justify-content: center;
}

.flex p{
    margin: auto 2%;
}


.middle {
    height: 100%;
    max-width: 100%;
    padding: 0;
}

h1, h2, h3, p {
    font-weight: 700;
    color: #DCF2F1
}

h2 {
    font-size: 2.5rem;
}

.profilepic {
    justify-content: center;
}

.profilepic img{
    width: 100%;
    border-radius: 50%;
    align-self: center;
    margin:auto;
    float: right;
}

.personaldescription {
    margin: auto;
    text-align: left;
}

.personaldescription h1{
    font-size: 4em;
}

.personaldescription p{
    font-size: 2em;
}

@media screen and (max-width: 991px) {
    .profilepic {
        margin-bottom: 10%;
        margin-right: 0%;
    }

}

.project-footer{
    margin-top: 10%;
}

.projects {
    position: relative;
    width: 100%;
    background-color: #365486;
}

.project {
    margin-bottom: 100px;
}

.movie-footer {
    margin-bottom: 5%;
}

.reveal{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: 1s all ease;
    overflow:hidden;
    align-items: center;
    padding-top: 5%;
    max-width: 100%;
  }

  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

  .title {
    margin-bottom: 3%;
  }